.PhotoContainer {
	overflow: scroll;
	display: flex;
	justify-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1rem;
}

.PhotoContainer__photo img {
	width: 100%;
	height: 100%;
}

.PhotoContainer__info {
	align-self: flex-start;
	width: 100%;
}

.pin-user {
  display: flex;
  align-items: center;
  padding: .5rem;
  margin: .5rem;
  background: #ddd;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  width: max-content;
}

.pin-user p {
  margin: 0;
}

.pin-user img {
  border-radius: 50px;
  margin-left: .3rem;
  height: 30px;
  width: 30px;
}

.profile-link {
  color: black;
  text-decoration: none;
}