

.header {
  padding: .5rem 1rem;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: 'home menu share profile';
  align-items: center;
}

.home-item {
  grid-area: home;
  border-radius: 50px;
  padding: .8rem 1rem;
  font-weight: bold;
  cursor: pointer;
  background: #000;
  color: white;
  text-decoration: none;
  margin-right: .3rem;
}

/*.menu {
  grid-area: menu;
  display: flex;
}

.menu-item {
  border-radius: 50px;
  padding: .8rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

.menu-item:hover {
  background: #f0f0f0;
}

.more-options-menu {
  display: none;
}*/

.search-wrapper {
  grid-area: share;
}

.search {
  background: #f0f0f0;
  border-radius: 50px;
}

.search-ico {
  align-self: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: .8rem .6rem;
  background: transparent;
}

.search:hover {
   background: #ddd;
}

.search-input {
  width: 100%;
  border: none;
  padding: .8rem;
  font-weight: normal;
  font-size: 1rem;
  height: 100%;
  background: transparent;
  outline: none;
}

.search__result {
  display: grid;
  grid-template-rows: auto auto;
  background: #ddd;
  border-radius: 50px;
  padding: 0 1rem;
  position: absolute;
  z-index: 5;
}

.search__results--result {
  margin: .5rem .2rem;
  text-decoration: none;
  color: black;
}

.search__results--result:hover {
  text-decoration: underline;
}

.header-right {
  grid-area: profile;
  display: flex;
}

.header-ico {
  width: 48px;
  border-radius: 50px;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}

.header-ico i {
  width: 24px;
  color: #767676;
}

.header-ico:hover {
  background: #f0f0f0;
}

.profile {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  border-radius: 50px;
}

.profile:hover {
  background: #f0f0f0;
}

.profile img {
  width: 24px;
  border-radius: 50%;
}

@media screen and (max-width: 760px) {
  .header-wraper {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 'home menu share profile';
    align-items: center;
  }

  .menu-item {
    display: none;
  }

  .header-ico {
    display: none;
  }

}